
*.bin
*.ini
Saved
Saved/Logs/fridge.log
Saved/Config/WorldState/3222581562.json
Saved/AutoScreenshot.png
Saved/Autosaves/Game/NewMap_Auto2.umap
Saved/Autosaves/Game/NewMap_Auto1.umap
Saved/Autosaves/Game/UI/Lesson/widgets/W_Lesson1_Start_Auto1.uasset
Saved/AutoScreenshot.png
Saved/Logs/fridge-backup-2021.02.27-14.32.02.log
Saved\
